#view {
  width: max-content;

  #header {
      display: flex;
      margin: auto 0;
      border-radius: 8px;
      margin-bottom: 8px;

    input {
      border-radius: 8px;
      border: none;
      background-color: white;
      text-align: center;
    }
  }

  #addForm {
    width: min-content;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #d3d3d3;
    padding: 5px;
    border-radius: 8px;

    p {
      width: min-content;
      margin-bottom: -1px;
    }

    label {
      margin-top: -15px;
    }

    input {
      margin-right: 15px;
      margin-bottom: 15px;
      padding: 10px;
      border: none;
      border-radius: 5px;
    }

    select, input[type=number] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 10px;
      border: none;
      background-color: white;
      width: 5em;
    }

    button#addView {
      background-color: #00A8FF;
      border: none;
      padding: 8px;
      width: 5em;
      border-radius: 5px;
      margin-top: -5px;
      margin-bottom: 10px;
      color: white;
    }
  }


  ul.search-result {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      a {
        font-size: 1.5em;
        text-decoration: none;
        font-weight: bold;
        color: #00A8FF;
      }
    }

    margin-bottom:10px;
    margin-left: 5px;
  }

  li.addlist {
    margin-bottom: 5px;
  }

  #addPlus {
    background: none;
    border: none;
    margin-right: 5px;
  }

  #searchForm {
    display: flex;
  }

  #delete {
    background: none;
    border: none;
    float: right;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li.fridge {
      background-color: white;
      padding: 10px;
      margin-bottom: 5px;
      border-radius: 10px;

      a {
        font-size: 1.5em;
        text-decoration: none;
        font-weight: bold;
        color: #00A8FF;
      }

      p {
        font-size: 12px;
        margin: auto 0;
        padding-left: 10px;
        width: max-content;
      }
    }

    #list-item {
      display: flex;
      justify-content: space-between;
    }
  }
}
