<div *ngIf="food">

  <h2>{{food.name}} Details</h2>
  <div id="form">
  <div>
    <label>Name:
      <input [(ngModel)]="food.name" placeholder="name" />
    </label>
  </div>
  <div>
    <label>Amount:
      <input type="number" [(ngModel)]="food.amount" placeholder="amount" />
    </label>
  </div>
  <div>
    <label>Unit:
      <select [(ngModel)]="food.unit" value="unit">
        <option *ngFor="let unit of units">{{unit}}</option>
      </select> 
    </label>
  </div>
  <div>
    <label>Expires:
      <input type="date" [(ngModel)]="food.expires" placeholder="expires" />
    </label>
  </div>
  <button (click)="save()">save</button>
  <button (click)="goBack()">back</button>
</div>
</div>
